<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../img/icon.png"/>
    <meta charset="UTF-8">
    <title>Angime</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/meanmenu.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>


<header>
    <div id="header-sticky" class="header-area transparent-header pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-1 d-flex align-items-center">
                    <div class="logo">
                        <a href="/"> <img src="../img/logo.png" alt="" width="96" height="39"> </a>
                    </div>
                </div>
                <div class="col../-xl-10 col-lg-11">
                    <div class="header-btn pl-15 f-right d-none d-lg-block">
                        <a href="signup" class="btn">Sign Up</a>
                    </div>
                    <div class="main-menu f-right">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="forums">Forums</a></li>
                                <li><a href="users">Users</a></li>
                                <li><a href="blogs">Blogs</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--<ul>-->
<!--    <li><a href="about"><h4>About</h4></a></li>-->
<!--    <li><a href="home.pages"><h4>Home</h4></a></li>-->
<!--    -->
<!--</ul>-->

<main>
    <section id="home" class="slider-area slider-height position-relative" src="img/slide1.png">

        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-text slider-content-space">
                        <h2 class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s">Find answers to all your
                            questions</h2>
                        <p>here you can create forums, also join other forums to discuss any topics</p>
                        <div class="slider-btn">
                            <a class="btn" href="#">Go to forums</a>

                        </div>
                    </div>
                </div>
                <div class="col-xl-5  d-none d-xl-block">
                    <div class="slider-img position-relative ">
                        <img src="../img/slider/app.png" alt="">
                        <img class="app-shape" src="../img/slider/app-m-01.png" alt="">
                        <img class="app-shape-02" src="../img/slider/app-m-02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>


