<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="img/icon.png"/>
    <link rel="stylesheet" href="css/blogs.css">
    <link rel="stylesheet" href="css/forums.css">
    <link rel="stylesheet" href="css/another.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/BLOGScss/animate.css">
    <link rel="stylesheet" href="css/BLOGScss/bootstrap.min.css">
    <link rel="stylesheet" href="css/BLOGScss/classy-nav.css">
    <link rel="stylesheet" href="css/BLOGScss/font-awesome.min.css">
    <link rel="stylesheet" href="css/BLOGScss/magnific-popup.css">
    <link rel="stylesheet" href="css/BLOGScss/owl.carousel.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
          integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/28517675c6.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    You can create forums only by registering.
                </div>
                <div class="right-top-bar flex-w h-full">
                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>
                    <a href="account" class="flex-c-m trans-04 p-lr-25">
                        My Account
                    </a>
                    <a href="signing" class="flex-c-m trans-04 p-lr-25" data-target=".log-sign">
                        sign in
                    </a>
                    <a href="signup" class="flex-c-m trans-04 p-lr-25" data-target=".log-sign">
                        sign up
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo">
                    <img src="img/logo2.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="forums">Forum</a>
                        </li>

                        <li>
                            <a href="blogs">Blog</a>
                        </li>

                        <li>
                            <a href="users">Users</a>
                        </li>

                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"> <img src="img/search.png" width="20px" height="20px"></i>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container p-t-25 p-b-50">
    <div class="row">

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/4.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Elon Musk: Tesla worker admitted to sabotage</a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/5.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border crisis </a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/6.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Dow falls 287 points as trade war fears escalate</a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/7.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Elon Musk: Tesla worker admitted to sabotage</a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/8.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border crisis </a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>

        <!-- Single News Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-blog-post style-2 mb-5">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="#"><img src="img/bg-img/9.jpg" alt=""></a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">June 20, 2018</span>
                    <a href="#" class="post-title">Dow falls 287 points as trade war fears escalate</a>
                    <a href="#" class="post-author">By Michael Smith</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center align-content-center">
        <a href="blogs" class="btn-outline-info border border-info">Load More</a>
    </div>
</div>

<!-- Modal Search -->
<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
    <div class="container-search-header">
        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
            <img src="img/icons/icon-close2.png" alt="CLOSE">
        </button>

        <form class="wrap-search-header flex-w p-l-15">
            <button class="flex-c-m trans-04">
                <i class="zmdi zmdi-search"></i>
            </button>
            <input class="plh3" type="text" name="search" placeholder="Search...">
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/slick/slick.min.js"></script>
<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="vendor/parallax100/parallax100.js"></script>
<script>
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>
<!--===============================================================================================-->
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/sweetalert/sweetalert.min.js"></script>
<script>
    $('.js-addwish-b2').on('click', function (e) {
        e.preventDefault();
    });

    $('.js-addwish-b2').each(function () {
        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-b2');
            $(this).off('click');
        });
    });

    $('.js-addwish-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");

            $(this).addClass('js-addedwish-detail');
            $(this).off('click');
        });
    });

    /*---------------------------------------------*/

    $('.js-addcart-detail').each(function () {
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

</script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<script src="js/weather.js" defer></script>
</body>
</html>