<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    <link rel="icon" type="image/png" href="img/icon.png"/>
    <link rel="stylesheet" href="src/main.css">
<body>
<div class="container">
    <form class="form" method="post">
        <h1 class="form__title">Create Account</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input name="email" type="email" class="form__input" autofocus placeholder="Email">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input name="name" type="text" id="signupUsername" class="form__input" autofocus placeholder="Name">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input name="surname" type="text" class="form__input" autofocus placeholder="Surname">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input name="city" type="text" class="form__input" autofocus placeholder="City">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input name="phone" type="number" class="form__input" autofocus placeholder="Phone">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input name="password" type="password" class="form__input" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="signing">Already have an account? Sign in</a>
        </p>
    </form>
</div>
<script src="js/main.js"></script>
</body>